<ons-toolbar>
    <div class="left"><ons-back-button>Назад</ons-back-button></div>
    <div class="center">Перечень услуг</div>
</ons-toolbar>

<div style="text-align: center">
    <br />
    <ons-button 
    ng-click="myNavigator.popPage(irkutsk.html);">
		Коммерческое управление
	</ons-button><br>
    <ons-button
    ng-click="myNavigator.popPage(irkutsk.html);">
    Техническая эксплуатация
	</ons-button><br>
    <ons-button
    ng-click="myNavigator.popPage('irkutsk.html');">
    	Брокеридж
	</ons-button><br>
    <ons-button
    ng-click="myNavigator.popPage('irkutsk.html');">
        Клининг
	</ons-button><br>
    <ons-button
     ng-click="myNavigator.pushPage('page1.html');">
        Маркетинговые исследования <br>
        и разработка концепции
	</ons-button><br>
</div>
